*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "General Sans";
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
.logo img{
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
}
.nav{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 40px;
}
.nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
.page1{
    height: 100vh;
    width: 100%;
}
