*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gilroy Regular';
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
}
.purple{
    height:100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 11;
    opacity: 0;
    display: none;
    transition: all ease 1s;
    
}
.main{
    background-color: #010001;
    cursor: none;
}
.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top:12vw ;
}
#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode
    : difference;
    z-index: 12;
}
.logo{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid white;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
#nav #circle{
    height: 20px;
    width: 20px;
    border-radius:50%;
    background-color:#fff;
}
#nav h4{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    padding: 5px;
    border: 1.5px solid #fff;
    border-radius: 5px;
}
.hover-list1::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color:white;
    transition: width .3;
}
.hover-list1:hover::after{
    width: 100%;
    transition: width .5s;
}
.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: pp mori;
    margin-left: 6vw;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    font-family: pp mori;
    margin-left: 24vw;
}
.page1 video{
    margin-top: 100px;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c ;
    position: relative;
    z-index: 9;
}
.page2 h1{
    font-size: 7vw;
    font-weight: 300;
    color:#111;
}
.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page2-left{
    width: 38%;
}
.page2-right{
    width: 40%;
}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color:#111;

}
.page2-right p{
    font-size: 28px;
    color: #111;

}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color:#EDBFFF;
    color: #111;
    margin-top: 20px;
}
.page3{
    min-height: 150vh;
    width: 100%;
    position: relative;
    padding-top: 100px;
    z-index: 9;
}
.page3 h1{
    font-weight: 300;
    font-size: 6.8vw;
    color: #111;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.video1{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page4{
    border: 10px solid blueviolet;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 150px 100px ;
}
.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom:50px ;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}
.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}
.elem{
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
}
.elem h1{
    font-size: 7.3vw;
    transition: all ease-out 0.5s;
    font-weight: 600;
}
.text-div{
    height: 105px;
    overflow: hidden;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);

}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right:5% ;
}
.elem:hover h1{
    transform:translateY(-100%) ;
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0) rotate(0deg);

}
footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF;
}